@import "tailwindcss";

/* === LIGHT MODE === */
:root {
  --color-bg: #ffffff;
  --color-bg-secondary: #f8f9fa;
  --color-text: #171717;
  --color-text-secondary: #171717;
  --color-accent: #0057ff;

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* === DARK MODE === */
.dark {
  --color-bg: #111111;
  --color-bg-secondary: #1e1e1e;
  --color-text: #ffffff;
  --color-text-secondary: #ffffff;
  --color-accent: #4f8cff;
}

@layer base {
  body {
    background-color: var(--color-bg);
    color: var(--color-text);
    transition: background-color 0.3s, color 0.3s;
    font-family: var(--font-mono);
    letter-spacing: 0.05em;
  }

  .bg-secondary {
    background-color: var(--color-bg-secondary);
  }
}

* {
  transition: background-color 0.3s ease, color 0.3s ease;
  transition: color 0.3s ease, color 0.3s ease;
}

.app-layout {
  @apply w-full m-0 p-0 relative;
  height: 100vh;
}

.app-layout .app-topbar {
  @apply w-full m-0 p-0 h-24;
}

.app-layout .app-content {
  @apply w-full m-0 p-0;
  height: calc(100vh - 96);
  padding-bottom: 50px;
}

.hexagon {
  clip-path: polygon(25% 6.7%, 75% 6.7%, 100% 50%, 75% 93.3%, 25% 93.3%, 0% 50%);
  transform: rotate(90deg);
}

/* Animate the hexagon stroke like a rotating line */
@keyframes hex-sweep {
  0% {
    stroke-dashoffset: 300;
  }
  100% {
    stroke-dashoffset: -300;
  }
}
.animate-hex-sweep {
  animation: hex-sweep 2.5s linear infinite;
}

/* Pulse text */
@keyframes opacityPulse {
  0%,
  100% {
    opacity: 0.35;
  }
  50% {
    opacity: 1;
  }
}
.animate-opacity-pulse {
  animation: opacityPulse 1.5s ease-in-out infinite;
}
