@import "tailwindcss";

/* === LIGHT MODE === */
@theme {
  --color-bg: #ffffff;
  --color-bg-secondary: #f8f9fa;
  --color-text: #171717;
  --color-text-secondary: #171717;
  --color-accent: #0057ff;

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-risk-extreme: #b91c1c; /* red-700 */
  --color-risk-extreme-hover: #991b1b; /* red-800 */
  --color-risk-extreme-text: #f7cfcf; /* red-50 */

  --color-risk-very-high: #ef4444; /* red-500 */
  --color-risk-very-high-hover: #dc2626; /* red-600 */
  --color-risk-very-high-text: #f9e6e6; /* red-50 */

  --color-risk-high: #ec4899; /* Equivalent to pink-500 */
  --color-risk-high-hover: #db2777; /* Equivalent to pink-600 */
  --color-risk-high-text: #fdf2f8; /* Equivalent to pink-50 */

  --color-risk-moderate: #eab308; /* Darker yellow, similar to yellow-600 */
  --color-risk-moderate-hover: #ca8a04; /* Even darker yellow, similar to yellow-700 */
  --color-risk-moderate-text: #fef3c7; /* Light yellow for text, similar to yellow-100 */

  --color-risk-low: #22c55e; /* Equivalent to green-500 */
  --color-risk-low-hover: #16a34a; /* Equivalent to green-600 */
  --color-risk-low-text: #f0fdf4; /* Equivalent to green-50 */

  --color-risk-very-low: #06b6d4; /* Equivalent to cyan-500 or use a dark green like emerald-600 for contrast */
  --color-risk-very-low-hover: #0891b2; /* Equivalent to cyan-600 */
  --color-risk-very-low-text: #f0f9ff; /* Equivalent to cyan-50 */

  --color-risk-info: #64748b; /* slate-500 */
  --color-risk-info-hover: #475569; /* slate-600 */
  --color-risk-info-text: #f1f5f9; /* slate-100 */
}

/* === DARK MODE === */
.dark {
  --color-bg: #111111;
  --color-bg-secondary: #1e1e1e;
  --color-text: #ffffff;
  --color-text-secondary: #ffffff;
  --color-accent: #4f8cff;
}

@layer base {
  body {
    background-color: var(--color-bg);
    color: var(--color-text);
    transition: background-color 0.3s, color 0.3s;
    font-family: var(--font-mono);
    letter-spacing: 0.045em;
  }

  .bg-secondary {
    background-color: var(--color-bg-secondary);
  }
}

* {
  transition: background-color 0.3s ease, color 0.3s ease;
  transition: color 0.3s ease, color 0.3s ease;
}

.app-layout {
  @apply w-full m-0 p-0 relative;
  height: 100vh;
}

.app-layout .app-topbar {
  @apply w-full m-0 p-0 h-24;
}

.app-layout .app-content {
  @apply w-full m-0 p-0;
  height: calc(100vh - 96);
  padding-bottom: 50px;
}

.hexagon {
  clip-path: polygon(25% 6.7%, 75% 6.7%, 100% 50%, 75% 93.3%, 25% 93.3%, 0% 50%);
  transform: rotate(90deg);
}

/* Animate the hexagon stroke like a rotating line */
@keyframes hex-sweep {
  0% {
    stroke-dashoffset: 300;
  }
  100% {
    stroke-dashoffset: -300;
  }
}
.animate-hex-sweep {
  animation: hex-sweep 2.5s linear infinite;
}

/* Pulse text */
@keyframes opacityPulse {
  0%,
  100% {
    opacity: 0.35;
  }
  50% {
    opacity: 1;
  }
}
.animate-opacity-pulse {
  animation: opacityPulse 1.5s ease-in-out infinite;
}
