@import "tailwindcss";

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
}

.app-layout {
    @apply w-full m-0 p-0;
    height: 100vh;
}

.app-layout .app-topbar {
    @apply w-full m-0 p-0 h-28;
}

.app-layout .app-content {
    @apply w-full m-0 p-0 pt-10;
    height: calc(100vh - 128px);
}
